parameters:
    database_host: '%env(SYMFONY__DATABASE_HOST)%'
    database_port: '%env(SYMFONY__DATABASE_PORT)%'
    database_name: '%env(SYMFONY__DATABASE_NAME)%'
    database_user: '%env(SYMFONY__DATABASE_USER)%'
    database_password: '%env(SYMFONY__DATABASE_PASSWORD)%'
    secret: ThisTokenIsNotSoSecretChangeIt
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    amazon_key:     amazon_key
    amazon_secret:  amazon_secret
