{% extends "@Admin/base_form.html.twig" %}

{% block form_panel %}
    <div class="tab-content">
        <div class="tab-pane active" id="params">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Informations</legend>
                        {{ form_row(form.title) }}
                    </fieldset>
                </div>
                <div class="col-md-12">
                    <fieldset>
                        <legend>Image d'illustration</legend>
                        {{ form_row(form.imageFile) }}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block panel_navigation %}
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#params" data-toggle="tab">Paramètres</a></li>
    </ul>
{% endblock %}

{% block panel_action_cancel %}
    <a href="{{ path("DisplayBundle_Place_list") }}" class="btn btn-link">Retour</a>
{% endblock %}
